<div dir="rtl">
    <div class="modal-header">
        <h1 class="modal-title">עברית שפה קשה</h1>
        <h3>עזור לשייבה בבעיות השפה שלו</h3>
    </div>
    <div class="modal-body">
        <h4>תתקן את המשפטים הלא נכונים, ובסוף סמן את כל המשפטים שאתה מאשר</h4>
        <ul ng-repeat="adjective in displayAdjectives" class="aboutinput" style="height: 50px;">
            <span>
                <input type="checkbox" class="" ng-model="adjective.approved"><label style="padding-right: 4px; margin-bottom: 41px;">{{adjective.dish}}</label></input>
                <input type="text" class="input-noborders" style="margin-right: 30px;" ng-model="adjective.name"/>
            </span>
        </ul>
    </div>
    <div class="footer" style="padding: 20px;">
        <button class="btn btn-primary" ng-click="ok()">בום</button>
        <button class="btn btn-warning" ng-click="cancel()">עזוב אחי, כבד עלי עברית</button>
    </div>
</div>