<div class="jumbotron white-color">
    <h3>!עיזרו לשייבה להיזכר</h3>
    <div class="focusguard" id="focusguard-1" tabindex="0"><br></div>
    <p><input id="firstInput" placeholder="מנה" type="text" tabindex="1" on-keyup-fn="" keyup-parameters="[postData, [13], dishes]" ng-disabled="!isLoggedIn"/></p>
    <p><input placeholder="לאום" type="text" tabindex="2" on-keyup-fn="" keyup-parameters="[postData, [13], nations]" ng-disabled="!isLoggedIn"></p>
    <p><input id="lastInput" placeholder="תוספת" type="text" tabindex="3" on-keyup-fn="" keyup-parameters="[postData, [13], adj]" ng-disabled="!isLoggedIn"></p>
    <div class="focusguard" id="focusguard-2" tabindex="4"></div>
    <div id="alert_placeholder"></div>
<p class="lead">

</p>
</div>

<script type="text/javascript">
    $('#firstInput').focus();
    $('#focusguard-2').on('focus', function() {
        $('#firstInput').focus();
    });

    $('#focusguard-1').on('focus', function() {
        $('#lastInput').focus();
    });
</script>