<div class="jumbotron white-color">

    <div class="dbwrapper">
        <div class="dbcontent">
            <input ng-model="tezt"/>
            <ul class="dbitem {{item.color}}" ng-repeat="item in tableContent | filter:tezt">
                <span class="dbitem-content">
                    {{item.name}}
                    <span class="pull-left glyphicon glyphicon-remove dbitem-remove" ng-click="removeDbItem(item.objectId, $index)"/>
                </span>
            </ul>
        </div>
        <div class="dbsidebar">
        <ul class="nav nav-pills nav-stacked" ng-repeat="table in tables">
            <li role="presedntation" ng-class="{ 'active': $index == selectedIndex }" ng-click="itemClicked($index)"><a href="" ng-click="selectTable(table.name)">{{table.name}}</a></li>
        </ul>
        </div>
    </div>
</div>