<div class="jumbotron white-color">

    <div class="dbwrapper">
        <div class="dbcontent">
            <input type="text" class="shaiba-input" ng-model="$parent.searchFilter.$" tooltip="Type name, id or fbId" tooltip-trigger="focus" tooltip-placement="top"/>
            <ul class="dbitem {{item.color}}" ng-repeat="item in tableContent | filter:searchFilter">
                <span class="dbitem-content">
                    {{item.name}}{{item.fbUserName}}
                    <span class="pull-left glyphicon glyphicon-remove dbitem-remove" ng-click="removeDbItem(item.objectId, $index)"/>
                    <span class="pull-left dbitem-id">{{item.objectId}}{{item.fbId}}</span>

                </span>
            </ul>
        </div>
        <div class="dbsidebar">
        <ul class="nav nav-pills nav-stacked" ng-repeat="table in tables">
            <li role="presedntation" ng-class="{ 'active': $index == selectedIndex }" ng-click="itemClicked($index)">
                <a href="" ng-click="selectTable(table.name)">{{table.name}} ({{table.size}})</a></li>
        </ul>
        </div>
    </div>
</div>