<div class="jumbotron white-color">
<p style="font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font: 'Lucida Grande'"><label>Shaiba Generator BETA</label></p>
<div class="dance face-doron"><img src="images/doron.png" ng-href="mailDoron"/></div>
<div class="dance face-daniel"><img src="images/daniel.png"/></div>
<div class="doron">
    <h5>{{ doronTitle }}</h5>
    <p>{{ doronContent }}</p>
</div>
<div class="daniel">
    <h5>{{ danielTitle}}</h5>
    <p>{{ danielContent }}</p>
</div>
</div>